.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  z-index: 1000;
  
}


input {
    width: 100%;
      padding: 12px;
      margin: 8px 0;
      background: #333;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 16px;
}

.nav-logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  color: #e50914;
  letter-spacing: 2px;
}

.nav-links {
  margin-right: 50rem;
  display: flex;
  gap: 30px;

}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
 
}

.nav-links li a:hover {
  color: #e50914;
}
 
 
 
 body {
 
  background: url("https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQdQ4D5f06hwpaidsY9KKcxa4GoJMsKe14Sb39w4R5pRkgpkJmpnPuL2d6JkbK-O_wan_OixsRzgH11VOp-UUdMCMtq6_QMxPUHbUgikOgOVKnCmaDQmp2iI9QMRaWsu4jOD6JRD6DBH_WKiR9tD5boxIz0k.jpg?r=261") no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.55);
  z-index: -1;
}

.movie-slider {
  margin-top: 0rem;
  padding: 5rem;
  
}



.slider-container {
  overflow: hidden;
  position: relative;
}

.movie-track {
  display: flex;
  gap: 3.5rem;
  animation: scrollMovies 20s linear infinite;
}

.movie-card {
  min-width: 300px;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  
  transition: transform 0.3s ease;
}

.movie-card:hover img {
  transform: scale(1.05);
}

/* Hiệu ứng trượt ngang tự động */
@keyframes scrollMovies {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.footer {
  background: linear-gradient(180deg, #111 0%, #000 100%);
  color: white;
  padding: 50px 80px;
  font-family: "Roboto", sans-serif;
  margin-top: -2rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  color: #e50914;
  margin-bottom: 15px;
}

.footer h4 {
  font-size: 20px;
  color: #e50914;
  margin-bottom: 10px;
}

.footer p
{
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
}

.footer ul {
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin: 5px 0;
}

.footer ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: #e50914;
}








.center-buttons {
  position: absolute;
 
  left: 1rem;
  
 margin-top: 100px;
  display: flex;
  gap: 50rem;
  
}

.btn {
  font-size: 50px;
  font-weight: bold;
 
  
  border-radius: 6px;
  
  transition: all 0.3s ease;
  
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  
}

.btn-info {
  background: rgba(109, 109, 110, 0.7);
  color: white;
}

.btn-info:hover {
  background: rgba(109, 109, 110, 1);
}

.btn-watch {
  background: #e50914;
  color: white;
}

.btn-watch:hover {
  background: #f40612;
}


.intro-video {
  margin-left: 23.5rem;
  color: white;
  margin-top: 10rem;

}





 
















